---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SunBatang-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HANBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Iropke Batang';
  font-style: normal;
  font-weight: 400;
  src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot);
  src: url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.eot?#iefix) format(’embedded-opentype’),
  url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.woff) format(‘woff’),
  url(//cdn.jsdelivr.net/font-iropke-batang/1.2/IropkeBatangM.ttf) format(‘truetype’);
}

.color-change-2x {
	-webkit-animation: color-change-2x 2s linear alternate both;
	        animation: color-change-2x 2s linear alternate both;
}

 @-webkit-keyframes color-change-2x {
  0% {
    color: #c9cdc9;
  }
  100% {
    color: black;
  }
}
@keyframes color-change-2x {
  0% {
    color: #c9cdc9;
  }
  100% {
    color: black;
  }
}


a { text-decoration: none; }
a:hover { text-decoration: none !important;}  

.page__content strong { 
  color: red;
}

#page-title{
  font-family: 'EliceDigitalBaeum_Bold';
  font-size: 2em;
  line-height: 1.3em;
  text-align: center;
}
nav.toc{
  font-size: 1.2em;
}
.page__content {
  font-family: 'IBMPlexSansKR-Regular';
  font-size: 65%;
  line-height: 180%;
}

.page__content p a{
  display: inline-block;
  color: slategrey !important;
}

.page__content p a:after {
  content: '';
  display: block;
  width: 0%;
  height: 0.1em;
  background: slategrey;
  transition: width 1s;
  margin-top: -0.35em;
}

.page__content p a:hover::after{
  width: 100%;
}

.item-category {
  background-color: #e7e9ea;
}

.nav_hover:hover {
  background-color: #cfd4d6 !important;
}

.cool_link {
  display: inline-block;
}

.cool_link::after{
  content: '';
  display: block;
  width: 0;
  height: 0.1em;
  background: #050e42;
  transition: width .5s;
  margin-top: -0.35em;
}

.cool_link:hover::after{
  width: 100%;
}
//386b9b
//59676b
//9f844a
//ed5269
//a0a0a0
//ff0000
//5a005a
//050e42

$primary-color: black !default;
$link-color: black !default;
.list__item {
   a:hover {
     text-decoration: underline;
   }
   margin-bottom: 30px;
}
#toggle_menu{
  display: none;
}
.icon_size{
  font-size: 0.7rem;
}

.post_title_size{
  font-size: 1.5rem;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
